<osc-navpage :title="title" title-color="white"
             :leftImageSrc="leftImageSrc"
             @naviBarLeftItemClick="leftClick"
             rightItemTitle="保存"
             @naviBarRightItemClick="updateInfo"
>
    <list>
        <refresh class="refresh_view" @refresh="refreshDatas" :display="refreshDisplay">
            <yc-gif :src="loadingImg" style="width:164px; height:100px;"></yc-gif>
        </refresh>
        <cell>
            <div class="photo">
                <image :src="user.avatar_url" class="personal-picture" @click="modifyHead"></image>
                <text class="change-photo" @click="modifyHead">点击修改头像</text>
            </div>

            <div class="banner-div" @click="usernameDivClick">
                <text class="common name">用户名字</text>
                <input id="nameId" class="common key input" type="text" :placeholder="username" maxlength="10"
                       @focus="onfocus" @blur="onblur"
                       @input="onInput"/>
            </div>
            <div class="banner-div">
                <text class="common name">手机号码</text>
                <div class="key tel">
                    <text class="common" style="color:#000;">{{user.mobile}}</text>
                    <div class="bound center bgred" @click="goBound" v-if="bound">
                        <text class="fff">绑定手机</text>
                    </div>
                </div>
            </div>
            <!--star-->
            <div class="banner-div">
                <text class="common name">性别</text>
                <div class="sex_div key" @click="sexSelect">
                    <div :class="['sex_div_box','sex_div_left',(user.sex!=0)?'sex_div_wire_default':'sex_div_wire']">
                        <text :class="['sextext',css_male]" >先生</text>
                    </div>
                    <div :class="['sex_div_box' ,'sex_div_right' ,(user.sex==0)?'sex_div_wire_default':'sex_div_wire']">
                        <text :class="['sextext',css_girl]" >女士</text>
                    </div>
                </div>
            </div>
            <!--end-->
            <div class="consum-text">
                <text style="color: #77868F;font-size: 30px;">消费记录</text>
            </div>
            <div class="jiangli-div" v-for="item in money_histories">
                <div class="jiangli-left">
                    <text class="left-text">{{item.money_type_text}}</text>
                    <text class="right-text">{{item.created_at_text}}</text>
                </div>
                <text class="jiangli-right">{{item.amount>0?'+'+item.amount:item.amount}}</text>
            </div>
        </cell>

        <loading class="loading_view" @loading="loadMore" style="width: 750px; padding: 30px;"
                 :display="loading_display" v-if="loading_visiable">
            <yc-gif :src="loadingImg" style="width:164px; height:100px;"></yc-gif>
        </loading>
    </list>
</osc-navpage>
