<div @viewappear="pageRefresh">
    <osc-navpage :title="title" :rightImageSrc="right_item_src" @naviBarRightItemClick="naviBarRightItemClick">
        <list>
            <cell>
                <div class="header" @click="editProfile">
                    <div class="header_left">
                        <image :src="user.avatar_url" alt="" class="header_pic"/>
                        <div style="flex-direction: column;align-items: center;justify-content: center;">
                            <text style="font-size: 36px;color: #fefefe;">{{user.username}}</text>
                            <text style="font-size: 30px;color: #fefefe;">{{user.mobile?user.mobile:''}}</text>
                            <!--<image :src="image_address+'personal_edit1.png'" alt="" style="width:32px;height: 32px;color: #fff"/>-->
                        </div>
                    </div>

                    <div v-if="is_low_version" class="header_money">
                        <div style="flex-direction: row;justify-content: center;align-items: center;">
                            <text style="font-size: 34px;color: #fff">余额：</text>
                            <text style="color: #FFFFFF;font-size: 34px">{{user.money}}</text>
                        </div>
                        <!--<text style="height: 30px;border-left-color: #fff;border-left-width: 3px;margin-left: 20px;margin-right: 20px;"></text>-->
                        <div class="recharge" @click="recharge">
                            <text style="font-size:30px;font-weight:bold;color:#fff">充值</text>
                        </div>
                    </div>
                </div>
                <!--积分 红包 佣金-->
                <div class="mypacket">
                    <div class="mypacket_li" @click="onpack(index)" v-for="(item,index) in packetitem">
                        <!--<div style="flex-direction:row;align-items:center;">-->
                            <!--<text style="font-size:38px;color:#fc0048">{{item.num}}</text>-->
                            <!--<text style="font-size:28px;color:#fc0048">{{item.unit}}</text>-->
                        <!--</div>-->
                        <!--<div class="mypacket_bom">-->
                            <!--<image class="mypacket_img" :src="item.icon"/>-->
                            <!--<text style="font-size:30px;color:#4d4d4d;">{{item.name}}</text>-->
                        <!--</div>-->
                        <!--<div v-if="index!=2" class="wire"></div>-->
                        <image class="mypacket_img" :src="item.icon"/>
                        <text style="font-size:36px;color:#4d4d4d;">{{item.name}}</text>
                        <div style="flex-direction:row;align-items:center;">
                            <text style="font-size:38px;color:#fc0048">{{item.num}}</text>
                            <text v-if="index==1" style="font-size:28px;color:#fc0048">{{item.unit}}</text>
                        </div>
                        <div v-if="index!=2" class="wire"></div>
                    </div>
                </div>
                <!--夺宝记录,中奖记录,收货地址,我的晒单-->
                <div class="record">
                    <div class="item" @click="onpushMyidetails(index)"
                         v-for="(item,index) in Myidetailstems">
                        <image class="item_img" :src="item.icon"></image>
                        <text class="item_text">{{item.name}}</text>
                    </div>
                </div>
                <!--夺宝客服，帮助中心,分享等。。。-->
                <div class="customer">
                    <div class="customer_item" v-for="item in menus" @click="onpushhelp(item)">
                        <div style="flex-direction:row;height:110px; align-items:center;">
                            <image :src="item.icon_url" class="customer_img"/>
                            <text class="customer_text">{{item.name}}</text>
                        </div>
                        <div v-if="item.name=='夺宝客服' && serviceDatas" style="position:absolute;right:100px;top:35px;
                align-items: center;justify-content: center;margin-right:30px;
                background-color:#e33b3b;width:40px;height:40px;border-radius:40px;">
                            <text style="font-size:20px;color:white;">新</text>
                        </div>
                        <image :src="image_address+'icon_right.png'" style="width:42px;height:42px;"/>
                    </div>
                </div>
            </cell>
        </list>
        <!--分享弹框及黑色背景-->
        <div v-if="lpopup" class="lshare">
            <div @click="lpopuphide" class="lshare_background"></div>
            <div class="lshare_con">
                <div class="lshare_con_background"></div>
                <div class="lshare_title">
                    <text style="font-size:34px;color:#000;">分享</text>
                </div>
                <div style="flex-direction:row;justify-content:space-between;">
                    <div @click="lshareonclick(index)" class="lshare_content" v-for="(item,index) in shareitem">
                        <image style="width:120px;height:120px;" :src="item.shareimg"/>
                        <text style="padding-top:20px;font-size:30px;color:#000;">{{item.sharename}}</text>
                    </div>
                </div>
            </div>
        </div>
    </osc-navpage>
</div>