.redpack_tab{
    flex-direction: row;
    width:750px;
    height:66px;
    background-color: white;
}
.redpack_tabbox{
    flex:1;
    justify-content: center;
    align-items: center;
}
.bom_wire{
    height: 66px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#fc0048;
    justify-content: center;
    align-items: center;
}
.tab_text{
    font-size:30px;
    color:#808080;
}
.left_wire{
    position: absolute;
    right:0;
    top:6px;
    width:2px;
    height:50px;
    background-color:#ccc;
}
.refresh_view {
    position:relative;
    height:140px;
    justify-content: center;
    width: 750px;
    align-items: center;
}
.loading_view {
    height:140px;
    justify-content: center;
    width: 750px;
    align-items: center;
}