.div{
    flex-direction: row;
    align-items: center;
    height: 100px;
    padding-left: 20px;
    justify-content: space-between;
}


.img {
    margin-right: 60px;
    height: 34px;
    width: 34px;
}

.exit {
    background-color: #fc0048;
    justify-content: center;
    align-items: center;
    height: 80px;
    line-height: 80px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    border-radius: 12px;
}
.boy{
    margin-right: 60px;
    width: 102px;
    height:64px;
    background-color: pink;
    border-radius: 32px;
}
.girl{
    margin-right: 60px;
    width: 102px;
    height:64px;
    background-color: #ddd;
    border-radius: 32px;
}
.foo{
    width:56px;
    height: 56px;
    background-color: #fc0048;
    border-radius: 30px;
    position: absolute;
    left:42px;
    top:4px;
    transition:all 0.4s;
}
.bar{
    width:56px;
    height: 56px;
    background-color: #fff;
    border-radius: 30px;
    position: absolute;
    left: 4px;
    top:4px;
    transition:all 0.4s;
}
.shadow{
    width: 750px;
    height: 1334px;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
}
.box{
    width: 550px;
    height: 300px;
    background-color: #fff;
    position: fixed;
    left: 100px;
    top: 400px;
    border-radius: 20px;
}
.fz40{
    font-size: 40px;
}
.center{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}