<osc-navpage :title="title" :leftImageSrc="left_item_src" @naviBarLeftItemClick="naviBarLeftItemClick">
        <div>
              <textarea id="textarea" class="textarea"
                        type="text"
                        disabled="false"
                        rows="6"
                        ref="input1"
                        :placeholder="placeholder"
                        v-model="suggestionBackContent"
                        autofocus="false" maxlength="100" @input="inputEvent($event)">

              </textarea>

            <div class="exit" @click="commitSuggestionBack()">
                <text class="exittext">提交反馈</text>
            </div>
        </div>
</osc-navpage>