.refresh_view {
    position:relative;
    height:140px;
    justify-content: center;
    width: 750px;
    align-items: center;
}
.loading_view {
    height:140px;
    justify-content: center;
    width: 750px;
    align-items: center;
}
.home {
    background-color: #e9e9e9;
}
.header-div {
    background-color: white;
    flex-direction: row;
    height: 80px;
    margin-bottom: 6px;
}

.common-text {
    flex: 1;
    font-size:34px;
    text-align: center;
    line-height: 60px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    color: #e9e9e9;
}
.header-click {
    border-bottom-width: 6px;
    border-color: #e23e3b;
    color: #e23e3b;
}
.header-click-not {
    border-bottom-width: 0px;
    color: #68696b;
    border-color: white;
}
.main {
    background-color: white;
    flex: 1;
}
.main-no-data {
    margin-top: 200px;
    align-items: center;
    margin-bottom: 400px;
}
.image-no-data {
    width: 304px;
    height: 261px;
    margin-bottom: 60px;
}
.no-add {
    font-size:34px;
    color: #7f7f7f;
}
.quick-buy {
    height:80px;
    margin-top: 40px;
    width: 700px;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
    background-color:#fc0048;
    margin-right: 25px;
    border-radius: 10px;
}