<osc-navpage :title="title"
             title-color="white"
             :leftImageSrc="leftImageSrc"
             @naviBarLeftItemClick="leftClick">

    <div class="home">
        <div class="header-div">
            <text :class="['common-text',header_left_click]" @click="headerClick(1)">进行中</text>
            <text :class="['common-text',header_middle_click]" @click="headerClick(2)">揭晓中</text>
            <text :class="['common-text',header_right_click]" @click="headerClick(3)">已揭晓</text>
        </div>
    </div>


    <list class="main" v-if="type==1">
        <refresh class="refresh_view" :display="refresh_display" @refresh="handleRefresh" >
            <yc-gif :src="loadingImg" style="width:164px; height:100px;"></yc-gif>
        </refresh>

        <cell>
            <div class="main-no-data" v-if="no_data">
                <image class="image-no-data" :src="nonedata_img"></image>
                <text class="no-add">你还没有参与呢!</text>
                <div  class="quick-buy" @click="quickBuyClick">
                    <text style="color: white;font-size:28px;">马上去抢</text>
                </div>
            </div>

            <duoBaoBanner :period_product_users="period_product_users_being" :type="type"
                            v-if="!no_data" :user_id="user_id" @participation="participation"></duoBaoBanner>
        </cell>
        <loading class="loading_view" :display="loading_display" @loading="loadMore" >
            <yc-gif :src="loadingImg" style="width:164px; height:100px;"></yc-gif>
        </loading>
    </list>

    <list class="main" v-if="type==2">
        <refresh class="refresh_view" :display="refresh_display" @refresh="handleRefresh" >
            <yc-gif :src="loadingImg" style="width:164px; height:100px;"></yc-gif>
        </refresh>

        <cell>
            <div class="main-no-data" v-if="no_data">
                <image class="image-no-data" :src="nonedata_img"></image>
                <text class="no-add">你还没有参与呢!</text>
                <div  class="quick-buy" @click="quickBuyClick">
                    <text style="color: white;font-size:28px;">马上去抢</text>
                </div>
            </div>

            <duoBaoBanner :period_product_users="period_product_users_doing" :type="type"
                            v-if="!no_data" :user_id="user_id" @participation="participation"></duoBaoBanner>
        </cell>
        <loading class="loading_view" :display="loading_display" @loading="loadMore" >
            <yc-gif :src="loadingImg" style="width:164px; height:100px;"></yc-gif>
        </loading>
    </list>

    <list class="main" v-if="type==3">
        <refresh class="refresh_view" :display="refresh_display" @refresh="handleRefresh" >
            <yc-gif :src="loadingImg" style="width:164px; height:100px;"></yc-gif>
        </refresh>

        <cell>
            <div class="main-no-data" v-if="no_data">
                <image class="image-no-data" :src="nonedata_img"></image>
                <text class="no-add">你还没有参与呢!</text>
                <div  class="quick-buy" @click="quickBuyClick">
                    <text style="color: white;font-size:28px;">马上去抢</text>
                </div>
            </div>

            <duoBaoBanner :period_product_users="period_product_users_did" :type="type"
                            v-if="!no_data" :user_id="user_id" @participation="participation"></duoBaoBanner>
        </cell>
        <loading class="loading_view" :display="loading_display" @loading="loadMore" >
            <yc-gif :src="loadingImg" style="width:164px; height:100px;"></yc-gif>
        </loading>
    </list>

</osc-navpage>