.redpack_tab{
    flex-direction: row;
    width:750px;
    height:66px;
    background-color: white;
}
.redpack_tabbox{
    flex:1;
    justify-content: center;
    align-items: center;
}
.bom_wire{
    height: 66px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#fc0048;
    justify-content: center;
    align-items: center;
}
.tab_text{
    font-size:30px;
    color:#808080;
}
.left_wire{
    position: absolute;
    right:0;
    top:6px;
    width:2px;
    height:50px;
    background-color:#ccc;
}

.redpack_con{
    width:690px;
    margin-left:30px;
    margin-right:30px;
    border-radius:30px;
    background-color: white;
    margin-bottom: 20px;
}
.redpack_title{
    width:690px;
    height: 90px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.redpack_title_time{
    font-size:36px;
    color:#333;
    flex: 0.6;
}
.redpack_title_num{
    font-size:36px;
    color:#333;
    flex: 0.4;
}
.redpack_list{
    width:690px;
    padding-top:20px;
    padding-bottom:30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color:#e6e6e6;
    padding-left: 30px;
    padding-right: 30px;
}
.exchange_list{
    width:690px;
    padding-top:20px;
    padding-bottom:30px;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color:#e6e6e6;
    padding-left: 30px;
    padding-right: 30px;
}
.text_back{
    font-size:28px;
    color:#4d4c4c;
    margin-bottom:8px;
}
.text_time{
    font-size:24px;
    color:#999999;
    flex: 0.6;
}
.text_num{
    font-size:36px;
    color:#fc0048;
    flex: 0.4;
}
.withdraw_list{
    width:690px;
    margin-left:30px;
    margin-right:30px;
    padding-top:30px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:20px;
    background-color:white;
    border-radius:30px;
    margin-bottom:30px;
}
.watermark{
    width:122px;
    height: 122px;
    position:absolute;
    right:30px;
    top:30px;
}
.text_box{
    flex-direction: row;
    margin-bottom:16px;
}
.text1{
    font-size:30px;
    color: #4d4d4d;
}
.text2{
    font-size:30px;
    color:#f9104c;
}
.text3{
    font-size:28px;
    color:#737373;
}
.text4{
    font-size:28px;
    color:#4d4d4d;
}
.text5{
    font-size:24px;
    color:#fc0048;
}
.text_bold{
    font-weight: bold;
}
.wire{
    margin-top:15px;
    margin-bottom:30px;
    width:630px;
    border-bottom-style: dashed;
    border-bottom-color:#737373;
    border-bottom-width:2px;
}
.refresh_view {
    position:relative;
    height:140;
    justify-content: center;
    width: 750;
    align-items: center;
}
.loading_view {
    height:140;
    justify-content: center;
    width: 750;
    align-items: center;
}
.oneHeight{
    height:1200px;
}