
<osc-navpage :title="title" :leftImageSrc="left_item_src" @naviBarLeftItemClick="naviBarLeftItemClick">
    <div class="redpack_tab">
        <div class="redpack_tabbox" v-for="(item,index) in redtablis" @click="ontab(index)">
            <div class="bom_wire" :style="{'border-bottom-width':(index==current)?'2px':'0px'}">
                <text class="tab_text" style="{'color':(index==current)?'#fc0048':'#808080'}">{{item}}</text>
            </div>
            <div v-if="index!=2" class="left_wire"></div>
        </div>
    </div>
    <yc-list @refresh="handleRefresh" @loading="onloading" ref="list">
        <cell>
            <div style="height:30px;"></div>
            <div v-if="current==0 && !noneData &&replaceToggle">
                <div class="redpack_con" :class="[royalty_histories.length<11?'oneHeight':'']">
                    <div class="redpack_title">
                        <text class="redpack_title_time">时间</text>
                        <text class="redpack_title_num">佣金(元)</text>
                    </div>
                    <div class="redpack_list" v-for="(item,index) in royalty_histories">
                        <text class="text_time">{{item.created_at_text}}</text>
                        <text class="text_num">{{item.amount}}</text>
                    </div>
                </div>
            </div>
            <div v-if="current==1 && !noneData &&replaceToggle">
                <div class="redpack_con" :class="[royalty_histories.length<8?'oneHeight':'']">
                    <div class="exchange_list" v-for="(item,index) in royalty_histories">
                        <div style="flex-direction: row;align-items: center">
                            <text class="text_back">兑换金币：</text>
                            <text class="text_num">{{Math.abs(item.amount)}}</text>
                        </div>
                        <text class="text_back">兑换时间：{{item.created_at_text}}</text>
                    </div>
                </div>
            </div>
            <div v-if="current==2 && !noneData &&replaceToggle">
                <div :class="[royalty_histories.length<3?'oneHeight':'']">
                <div class="withdraw_list" v-for="(item,index) in royalty_histories">
                    <div class="text_box">
                        <text class="text1 text_bold" >提现金额：</text>
                        <text class="text2 text_bold">{{Math.abs(item.amount)}}</text>
                        <text class="text1 text_bold">元</text>
                    </div>
                    <div class="text_box">
                        <text class="text3">支付宝账号：</text>
                        <text class="text4">{{item.account_id}}</text>
                    </div>
                    <div class="text_box">
                        <text class="text3">支付宝名称：</text>
                        <text class="text4">{{item.account_name}}</text>
                    </div>
                    <div class="wire"></div>
                    <div class="text_box">
                        <text class="text3">提现时间：</text>
                        <text class="text4">{{item.created_at_text}}</text>
                    </div>
                    <div class="text_box">
                        <text class="text3">到账时间：</text>
                        <text class="text4">{{item.estimate_at_text}}</text>
                    </div>
                    <div class="text_box" v-if="item.remarks!=''">
                        <text class="text3" style="font-size:24px;">备注：</text>
                        <text class="text5">{{item.remark}}</text>
                    </div>
                    <image class="watermark" :src="item.status==0?withdraw_auditimg:''||item.status==-1?withdraw_loseimg:withdraw_successimg"/>
                </div>
                </div>
            </div>
            <nodata nodata_title="暂无记录" v-if="noneData" style="flex: 1;padding-bottom: 400px"></nodata>
        </cell>
    </yc-list>
</osc-navpage>