.refresh_view {
    position:relative;
    height:140;
    justify-content: center;
    width: 750;
    align-items: center;
}
.loading_view {
    height:140;
    justify-content: center;
    width: 750;
    align-items: center;
}