
<osc-navpage :title="title" :leftImageSrc="left_item_src" @naviBarLeftItemClick="naviBarLeftItemClick">
    <yc-list @refresh="handleRefresh" @loading="onloading" ref="list">
        <cell v-for="(item,index) in items">
            <div class="lbaskbill" @click="onItemClick(index)">
                <div class="lbaskbill_one">
                    <div style="flex-direction: row;align-items: center">
                        <image class="loldtimey_img" :src="item.user.avatar_small_url"></image>
                    </div>
                    <div class="loldtimey_name">
                        <text style="font-size: 34px;color:#0f0f0f;padding-bottom: 20px;">{{item.user.username}}</text>
                        <text style="font-size: 28px;color:#868686;">{{item.share_at_text}}</text>
                    </div>
                    <div v-if="false" class="lbaskbill_ones" @click="selectClick(index)">
                        <image style="width: 40px;height: 40px;padding-top: 4px;" :src="!item.is_like_share?dimg:simg"></image>
                        <text style="padding-left: 5px;font-size: 36px;color:#868686;">{{item.share_like_num}}</text>
                    </div>
                </div>
                <div class="lbaskbill_two"><text style="color:#000;font-size: 30px;">{{item.product_name}}</text><text style="padding-top: 20px;color:#f10049;font-size: 30px;">商品期数：{{item.id}}期</text></div>
                <div class="lbaskbill_banner" @click="onImageClick(index)">
                    <image class="lbaskbill_banners" :src="item.share_image0_small_url"></image>
                    <image class="lbaskbill_banners" :src="item.share_image1_small_url"></image>
                    <image style="margin-right: 0px;" class="lbaskbill_banners" :src="item.share_image2_small_url"></image>
                </div>
                <div class="lbaskbill_text"><text style="font-size: 34px; color:#333;">{{item.share_content}}</text></div>
            </div>
            <div class="watermark" :style="{top:(index==0)?15:0 + 'px'}">
                <image :src="review" alt="" style="width: 184px;height: 148px;" v-if="item.share_status==1"></image>
                <image :src="onlinethat" alt="" style="width: 184px;height: 148px;" v-if="item.share_status==2"></image>
                <image :src="defeated" alt="" style="width: 184px;height: 148px;" v-if="item.share_status==3"></image>
            </div>
        </cell>
        <cell>
            <nodata v-if="noneData" nodata_title="暂无晒单记录" style="margin-bottom: 230px;padding-top: 100px"></nodata>
        </cell>
    </yc-list>

</osc-navpage>