
<osc-navpage :title="title" :leftImageSrc="left_item_src" @naviBarLeftItemClick="naviBarLeftItemClick">

    <yc-list @refresh="handleRefresh" @loading="onloading" ref="list" @loadMore="onloading">
        <cell v-for="(item, index) in items">
            <div class="sigle-item" @click="onItemsClick(index)" >
                <image :src="item.user.avatar_url" alt="" style="width: 100px;height: 100px;border-radius: 50px;margin-right: 20px"></image>
                <div style="flex: 1">
                    <div class="user_info">
                        <text style="color: #333;font-size: 30px">{{item.user.username}}</text>
                        <text style="color: #999999;font-size: 24px">{{item.share_at_text}}</text>
                    </div>
                    <div class="share_content">
                        <text class="sigle_item_title">{{item.product_name}}</text>
                        <text class="sigle_item_id">商品期数:{{item.id}}</text>
                        <text class="sigle_item_content">{{item.share_content}}</text>
                        <div class="sigle-item_img" style="flex-direction: row;align-items: center" @click="onImageClick(index)">
                            <image :class="[index%2==1?'middle_item':'','product-image']" v-for="(url,index) in item.image_small_urls" :src="url"></image>
                        </div>
                        <div @click="selectClick(index)" style="height: 70px;flex-direction: row;align-items: center;justify-content: flex-end;padding-right: 20px">
                            <image :src="item.is_like_share?simg:dimg" style="width: 36px;height: 30px;margin-right: 12px"></image>
                            <text class="liketext">{{item.share_like_num}}</text>
                        </div>
                    </div>
                </div>
            </div>
        </cell>
        <cell>
            <nodata v-if="noneData" nodata_title="暂无晒单记录" style="margin-bottom: 230px;padding-top: 100px"></nodata>
        </cell>
    </yc-list>

</osc-navpage>