.redpack_tab{
    flex-direction: row;
    width:750px;
    height:66px;
    background-color: white;
}
.redpack_tabbox{
    flex:1;
    justify-content: center;
    align-items: center;
}
.bom_wire{
    height: 66px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#fc0048;
    justify-content: center;
    align-items: center;
}
.tab_text{
    font-size:30px;
    color:#808080;
}
.left_wire{
    position: absolute;
    right:0;
    top:6px;
    width:2px;
    height:50px;
    background-color:#ccc;
}
.redpack_list{
    width:630px;
    padding-top:20px;
    padding-bottom:30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color:#e6e6e6;
}
.text_back{
    font-size:28px;
    color:#4d4c4c;
    margin-bottom:8px;
}
.text_time{
    font-size:24px;
    color:#999999;
}
.text_num{
    font-size:36px;
    color:#fc0048;
}

.refresh_view {
    position:relative;
    height:140px;
    justify-content: center;
    width: 630px;
    align-items: center;
}
.loading_view {
    height: 140px;
    justify-content: center;
    width: 630px;
    align-items: center;
}
.myscroller{
    width:690px;
    border-radius:30px;
    background-color: white;
    /*padding:30px;*/
    /*padding-top: 10px;*/
    margin-bottom: 20px;
    margin-left: 30px;
}
.myscroller-inner{
    margin: 30px;
    margin-top: 10px;
}
/*获取记录和消费记录里面的内容*/
