<osc-navpage :title="title" :leftImageSrc="left_item_src" @naviBarLeftItemClick="naviBarLeftItemClick">
    <div class="redpack_tab">
        <div class="redpack_tabbox" v-for="(item,index) in redtablis"  @click="ontab(index)">
            <div class="bom_wire" :style="{'border-bottom-width':(index==current)?'2px':'0px'}">
                <text class="tab_text" :style="{color:(index==current)?'#fc0048':'#808080'}">{{item}}</text>
            </div>
            <div v-if="index==0" class="left_wire"></div>
        </div>
    </div>
    <yc-list @refresh="handleRefresh" @loading="onloading" ref="list">
        <cell>
            <div style="height:30px;"></div>
            <div class="myscroller">
                <div v-if="current==0 && !noneData &&replaceToggle" class="myscroller-inner">
                    <div class="redpack_con">
                        <div class="redpack_list" v-for="(item,index) in score_histories">
                            <div>
                                <text class="text_back">{{item.score_type_text}}</text>
                                <text class="text_time">{{item.created_at_text}}</text>
                            </div>
                            <text class="text_num">{{item.amount}}</text>
                        </div>
                    </div>
                </div>
                <div v-if="current==1 && !noneData &&replaceToggle" class="myscroller-inner">
                    <div class="redpack_con">
                        <div class="redpack_list" v-for="(item,index) in score_histories">
                            <div>
                                <text class="text_back">{{item.score_type_text}}</text>
                                <text class="text_time">{{item.created_at_text}}</text>
                            </div>
                            <text class="text_num">{{item.amount}}</text>
                        </div>
                    </div>
                </div>
                <nodata nodata_title="暂无记录" style="margin-bottom: 230px;padding-top: 100px;width: 660px" v-if="noneData"></nodata>
            </div>
        </cell>
    </yc-list>
</osc-navpage>