<div style="background-color: black" @click="onclickBack">
    <div style="flex: 1px;align-items: center;flex-direction: row">
        <slider class="slider" orientation="horizontal" auto-play="false" append="tree">
            <div v-if="image_urlsy.share_image0_url!=null">
                <image class="slider_image" :src="image_urlsy.share_image0_url"></image>
            </div>
            <div v-if="image_urlsy.share_image1_url!=null">
                <image class="slider_image" :src="image_urlsy.share_image1_url"></image>
            </div>
            <div v-if="image_urlsy.share_image2_url!=null">
                <image class="slider_image" :src="image_urlsy.share_image2_url"></image>
            </div>
            <indicator class="indicator"></indicator>
        </slider>
    </div>
</div>