<div @viewappear="pageRefresh">
    <osc-navpage :title="title" :leftImageSrc="left_item_src" @naviBarLeftItemClick="leftButtonClick"
                 :rightImageSrc="right_item_src" @naviBarRightItemClick="rightButtonClick">
        <yc-list @refresh="handleRefresh" @loading="onloading" ref="list" @loadMore="onloading">
            <cell>
                <!--轮播-->
                <slider class="slider"
                        interval="5000"
                        @change="change"
                        auto-play="true">
                    <div class="frame" v-for="(item, index) in medias" @click="goDb()">
                        <image class="image" resize="cover" :src="item.image_url"></image>
                    </div>
                    <indicator class="indicator"></indicator>
                </slider>
                <!--四个分类-->
                <div class="classifybox">
                    <image class="classify_vip" :src="vip" v-if="false"></image>
                    <div class="classify">
                        <div class="classify_item"
                             @click="onpushurl(index)"
                             v-for="(itemc,index) in itemlclassify">
                            <image class="classify_img" :src="itemc.imgurl"></image>
                            <text class="classify_text">{{itemc.classname}}</text>
                        </div>
                    </div>
                </div>
                <!--跑马灯-->
                <div class="marquee">
                    <image class="marquee_icon" :src="dbkb"></image>
                    <marquee
                            :marqueeList="marqueeList"
                            :step="step?'60':'59.72'"
                            style="width:510px;height: 60px;"
                    >
                    </marquee>
                </div>
            </cell>
            <!--商品列表头-->
            <header>
                <div class="header">
                    <div :class="['header-text',header1?'header-text-click':'header-text-click-default']" @click="headerTabClick(1)">
                        <text class="header-text-common">人气</text>
                    </div>
                    <div :class="['header-text',header2?'header-text-click':'header-text-click-default']" @click="headerTabClick(2)">
                        <text class="header-text-common">最新</text>
                    </div>
                    <div :class="['header-text',header3?'header-text-click':'header-text-click-default']" @click="headerTabClick(3)">
                        <text class="header-text-common">进度</text>
                    </div>
                    <div :class="['header-text',header4?'header-text-click':'header-text-click-default']" @click="headerTabClick(4)">
                        <text class="header-text-common">价格</text>
                        <!--<div class="icon-div">-->
                            <!--<text class="icon" :style="{color:icon_toggle?'#fc0048':'#000'}">↑</text>-->
                            <!--<text class="icon" :style="{color:icon_toggle?'#000':'#fc0048'}">↓</text>-->
                        <!--</div>-->
                    </div>
                </div>
            </header>
            <!--商品列表-->
            <cell>
                <div class="goods_list">
                    <div :class="['good_item',index%2==0?'mr2':'ml2',index>1?'mt4':'']"
                         v-for="(good,index) in goodlist"
                         @click="onGoodsClick(good.product_id)">
                        <image class="good_item_img" :src="good.image_small_url"></image>
                        <text class="good_item_name">{{good.product_name}}</text>
                        <div style="flex-direction: row;justify-content:center;width: 373px;">
                            <div>
                                <div class="text-cls">
                                    <text style="font-size:24px;color:#909090;">揭晓进度：</text>
                                    <text style="font-size:24px;color:#00aaf0;">{{good.progress_percent}}%</text>
                                </div>
                                <div class="total" :style="{width:180,height: 14}">
                                    <div class="inner" :style="{width:parseInt(180*good.progress_percent/100)+'px',height: '14px'}">
                                        <div class="inner_gradient" :style="{width:parseInt(180*good.progress_percent/100)+'px',height: '14px'}"></div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 140px;height: 60px;border-width: 2px;border-color:#fc0048;border-radius: 10px;align-items: center;justify-content: center;margin-left: 20px;">
                                <text style="font-size:30px;color: #fc0048;">立即抢购</text>
                            </div>
                        </div>

                        <image class="good_item_img_small" v-if="good.unit_num==10"
                               :src="home_ten_product"></image>
                        <image class="good_item_img_small" v-if="good.unit_num==100"
                               :src="home_hundred_product"></image>
                    </div>
                </div>
            </cell>
        </yc-list>
    </osc-navpage>
</div>

