<osc-navpage :title="title" :leftImageSrc="left_item_src" @naviBarLeftItemClick="naviBarLeftItemClick">
    <div style="flex: 1px;background-color: #F3F2F8">
        <div style="flex-direction: row;align-items: center;width: 700px;height: 80px;border-radius: 20px;background-color: white;margin-left: 25px;margin-right: 25px;margin-top: 80px">
            <image style="width: 44px;height: 44px;margin-left: 16px" :src="icon_iphone_src"></image>
            <input :id="input_tel" type="tel" style="line-height: 44px;height: 44px;flex: 1px;color: #000" placeholder="请输入手机号码" maxlength="11"  placeholder-color="#e9e9e9" @input="mobileInput($event)" />
        </div>

        <div style="flex-direction: row;align-items: center;width: 700px;height: 80px;border-radius: 20px;background-color: white;margin-left: 25px;margin-right: 25px;margin-top: 40px">
            <image style="width: 44px;height: 44px;margin-left: 16px" :src="icon_code_src"></image>
            <input :id="input_code" type="tel" style="line-height: 44px;height: 44px;flex: 1px;color: #000" placeholder="请输入你的验证码" maxlength="4"  placeholder-color="#e9e9e9" @input="authInput($event)" />
            <text style="color: white;background-color: #fc0048;width: 200px;height: 60px;padding-top: 14px;
             text-align: center;border-radius: 20px;margin-right: 16px" @click="getAuthCode">{{auth_text}}</text>
        </div>
        <text style="background-color:#fc0048;width: 700px;height: 80px;margin-left: 25px;margin-right: 25px;
         margin-top: 40px;padding-top: 20px;text-align: center;font-size: 30px;color: white;border-radius: 20px" @click="login(agree_toggle)">登录</text>
        <div style="flex-direction: row;align-items: center;margin-top: 88px" v-if="is_low_version">
            <div style="height: 1px;width: 280px;background-color: #d0d0d0"></div>
            <text style="color: #D7D7D7">其他登录方式</text>
            <div style="height: 1px;width: 300px;background-color: #d0d0d0"></div>
        </div>
        <div style="flex-direction: row;align-items: center;margin-top: 44px"   >
            <div class="container" v-if="is_low_version" v-for="(item,index) in tabItems" @click="thirdLogin(index)">
                <image class="login_icon" :src="item.image"></image>
                <text class="login_title">{{item.title}}</text>
            </div>
        </div>

        <div class="apple_div" v-if="isIos">
            <text class="d7">声明：所有奖品抽奖活动与苹果公司(Apple Inc)无关</text>
        </div>
        <div class="agree_div">
            <div  class="circle" @click="agree_toggleClick"><text v-if="agree_toggle" class="d7">√</text></div>
            <text class="d7">我同意</text>
            <text class="d7" @click="gotoService_agreement">《一元夺宝服务协议》</text>
        </div>

    </div>
</osc-navpage>