
<div @viewappear="pageRefresh">
    <osc-navpage :title="title" :leftImageSrc="left_item_src" @naviBarLeftItemClick="naviBarLeftItemClick" right-item-title="新增"
                 right-item-color="white" @naviBarRightItemClick="rightBarClick">

        <yc-list @refresh="handleRefresh" @loading="onloading" ref="list">
            <cell v-for="(item ,index) in user_addresses">
                <div class="content" v-if="user_addresses" >
                    <div class="common top-div" @click="addressClick(index)" >
                        <text class="address">{{item.ship_address}}</text>
                        <div class="info-div">
                            <text class="name">{{item.receiver_name}}</text>
                            <text class="tel">{{item.mobile}}</text>
                        </div>
                    </div>

                    <div class="common bottom-div">
                        <div class="img-div" @click="goDefault(index)">
                            <div class="img-inner" v-if="item.default_status?true:false"></div>
                        </div>

                        <!--<div  class="text_div" @click="goDefault(index)">-->
                            <text class="default-address">默认地址</text>
                        <!--</div>-->
                        <div class="edit" @click="editClick(index)">
                            <image :src="edit_img" alt="" style="width: 30px;height: 30px"></image>
                            <text style="color: #fff">编辑</text>
                        </div>
                        <div class="delete" @click="deleteClick(index)">
                            <image :src="delete_img" alt="" style="width: 30px;height: 30px"></image>
                            <text style="color: #fff">删除</text>
                        </div>
                    </div>
                </div>
            </cell>
            <cell>
                <nodata nodata_title="请添加收货地址"
                        v-if="noneData"
                        style="margin-bottom: 230px;padding-top: 100px;"></nodata>
            </cell>
        </yc-list>



    </osc-navpage>
</div>