.main{
    width:750px;
    background-color: white;
    margin-bottom: 30px;
}
.main_item{
    width:750px;
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width:2px;
    /*border-bottom-color:#e6e6e6;*/
    border-bottom-color: #f2f2f2;
}
.main_icon{
    width:80px;
    height:80px;
}
.main_box{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 534px;
    padding-left:24px;
}
.main_name{
    font-size:32px;
    color: #323232;
}
.main_remark{
    font-size:24px;
    color: #8a8a8a;
    margin-top: 10px;
}
.main_right{
    width: 22px;
    height: 40px;
}
.main_box_zero{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 530px;
    padding-left:24px;
    padding-right: 10px;
}
.zero_right{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.zero_right_url{
    width:66px;
    height:66px;
    border-radius: 33px;
    border:1px solid #ff3229;
}
.zero_ml{
    margin-left: -33px;
}