<osc-navpage :title="title">

    <scroller>

        <div class="main" style="margin-top: 30px">
            <div class="main_item" @click="gosd">
                <image :src="icon_sd" class="main_icon"></image>
                <div class="main_box_zero">
                    <div class="zero_left">
                        <text class="main_name">晒单分享</text>
                        <text class="main_remark">中奖了就要分享喜悦</text>
                    </div>
                    <div class="zero_right">
                        <image :src="item.user.avatar_url" :class="['zero_right_url',index?'zero_ml':'']" v-for="(item,index) in period_products" v-if="index<3" ></image>
                    </div>

                </div>

                <image :src="icon_right" class="main_right"></image>

            </div>
        </div>

        <div class="main">
            <div class="main_item" v-for="(item,index) in menus" @click="gourl(item)" v-if="index<2">
                <image :src="item.icon_url" class="main_icon"></image>
                <div class="main_box">
                    <text class="main_name">{{item.name}}</text>
                    <text class="main_remark">{{item.remark}}</text>
                </div>
                <image :src="icon_right" class="main_right"></image>
            </div>
        </div>

        <div class="main">
            <div class="main_item" v-for="(item,index) in menus" @click="gourl(item)" v-if="index>=2">
                <image :src="item.icon_url" class="main_icon"></image>
                <div class="main_box">
                    <text class="main_name">{{item.name}}</text>
                    <text class="main_remark">{{item.remark}}</text>
                </div>
                <image :src="icon_right" class="main_right"></image>
            </div>
        </div>

    </scroller>

</osc-navpage>