
<osc-navpage :title="title" :leftImageSrc="left_item_src" @naviBarLeftItemClick="naviBarLeftItemClick">

    <yc-list @refresh="handleRefresh" @loading="onloading" ref="list" @loadMore="onloading">
        <cell v-for="(item,index) in period_products">
            <div style="background-color: white">
                <div class="main">
                    <image class="image" :src="item.image_small_url"></image>
                    <div class="detail-div">
                        <text class="name-text">{{item.product_name}}</text>
                        <text class="common-text">本期期号:{{item.id}}</text>
                        <div class="sub-div">
                            <text class="common-text">中奖号码:</text>
                            <text class="common-text num-text">{{item.luck_no}}</text>
                        </div>

                        <div class="sub-div">
                            <text class="common-text">本期购买:</text>
                            <text class="common-text num-text">{{item.user_buy_num}}</text>
                            <text class="common-text">人次</text>
                        </div>
                        <image class="lucky-image" :src="luck_image"></image>
                        <text class="chakan-text" @click="chakanClick(index)">点击查看详情></text>
                    </div>
                </div>
                <div class="view-div"></div>
            </div>
        </cell>
        <cell>
            <nodata nodata_title="暂无中奖记录"
                    v-if="noneData"
                    style="margin-bottom: 230px;padding-top: 100px;"></nodata>
        </cell>
    </yc-list>
</osc-navpage>